## Ankit Singh
## DSAI
## 201020407

### Task B

In [21]:
from sklearn.datasets import load_iris, load_wine
from sklearn.cluster import KMeans, DBSCAN
from sklearn.cluster import AgglomerativeClustering
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

In [22]:
# Load the iris dataset
iris = load_iris()

# Load the wine dataset
wine = load_wine()

# Extract the features
df = pd.DataFrame(iris.data, columns=iris.feature_names)
data = pd.DataFrame(wine.data, columns=wine.feature_names)

In [23]:
scaler = StandardScaler()
X = scaler.fit_transform(df)
Y = scaler.fit_transform(data)

In [24]:
# Initialize the KMeans model
kmeans = KMeans(n_clusters=3, random_state=42)

# Fit the model to the data
kmeans.fit(X)

KMeans(n_clusters=3, random_state=42)

In [25]:

# Add the cluster labels to the dataset
labels = pd.DataFrame(kmeans.labels_, columns=['cluster'])

df1 = df

In [26]:
df1

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [27]:
df1 = pd.concat([df1, labels], axis=1)

# Save the dataset
#df1.to_csv('iris_kmeans.csv', index=False)
df1

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),cluster
0,5.1,3.5,1.4,0.2,1
1,4.9,3.0,1.4,0.2,1
2,4.7,3.2,1.3,0.2,1
3,4.6,3.1,1.5,0.2,1
4,5.0,3.6,1.4,0.2,1
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,0
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,0
148,6.2,3.4,5.4,2.3,0
149,5.9,3.0,5.1,1.8,2

In [28]:
# Initialize the AgglomerativeClustering model
agglo = AgglomerativeClustering(n_clusters = 3)

# Fit the model to the data
agglo.fit(X)

AgglomerativeClustering(n_clusters=3)

In [29]:
# Add the cluster labels to the dataset
labels = pd.DataFrame(agglo.labels_, columns=['cluster'])
df2 = df

In [30]:
df2

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [31]:
df2 = pd.concat([df2, labels], axis=1)

# Save the dataset
#df2.to_csv('iris_hierarchical.csv', index=False)
df2

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),cluster
0,5.1,3.5,1.4,0.2,1
1,4.9,3.0,1.4,0.2,1
2,4.7,3.2,1.3,0.2,1
3,4.6,3.1,1.5,0.2,1
4,5.0,3.6,1.4,0.2,1
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,0
146,6.3,2.5,5.0,1.9,0
147,6.5,3.0,5.2,2.0,0
148,6.2,3.4,5.4,2.3,0
149,5.9,3.0,5.1,1.8,0

In [32]:
# Initialize the KMeans model
kmeans = KMeans(n_clusters=3, random_state=42)

# Fit the model to the data
kmeans.fit(Y)

KMeans(n_clusters=3, random_state=42)

In [33]:
# Add the cluster labels to the dataset
labels = pd.DataFrame(kmeans.labels_, columns=['cluster'])

df3 = data

In [34]:
df3

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0
174,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0
175,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0
176,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0
177,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0

In [35]:
df3 = pd.concat([df3, labels], axis=1)

# Save the dataset
#df3.to_csv('wine_kmeans.csv', index=False)
df3

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,cluster
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,1
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,1
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,1
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,1
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0,0
174,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0,0
175,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0,0
176,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0,0
177,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0,0

In [36]:
# Initialize the AgglomerativeClustering model
agglo = AgglomerativeClustering(n_clusters = 3)

# Fit the model to the data
agglo.fit(Y)

AgglomerativeClustering(n_clusters=3)

In [37]:
# Add the cluster labels to the dataset
labels = pd.DataFrame(agglo.labels_, columns=['cluster'])
df4 = data

In [38]:
df4

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0
174,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0
175,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0
176,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0
177,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0

In [39]:
df4 = pd.concat([df4, labels], axis=1)

# Save the dataset
#df4.to_csv('wine_hierarchical.csv', index=False)
df4

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,cluster
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0,2
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0,2
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0,2
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0,2
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0,1
174,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0,1
175,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0,1
176,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0,1
177,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0,1

In [40]:
# split datasets into training and testing sets
X_train1, X_test1, y_train1, y_test1 = train_test_split(df1.drop('cluster', axis=1), df1['cluster'], test_size=0.3, random_state=42)
X_train2, X_test2, y_train2, y_test2 = train_test_split(df2.drop('cluster', axis=1), df2['cluster'], test_size=0.3, random_state=42)
X_train3, X_test3, y_train3, y_test3 = train_test_split(df3.drop('cluster', axis=1), df3['cluster'], test_size=0.3, random_state=42)
X_train4, X_test4, y_train4, y_test4 = train_test_split(df4.drop('cluster', axis=1), df4['cluster'], test_size=0.3, random_state=42)

# apply supervised methods on dataset 1
lr1 = LogisticRegression()
dt1 = DecisionTreeClassifier()
rf1 = RandomForestClassifier()
svm1 = SVC()
models1 = [lr1, dt1, rf1, svm1]
for model in models1:
    model.fit(X_train1, y_train1)
    y_pred1 = model.predict(X_test1)
    accuracy1 = accuracy_score(y_test1, y_pred1)
    print(f"Accuracy score of {type(model).__name__} on dataset 1: {accuracy1}")
    
print('\n')

# apply supervised methods on dataset 2
lr2 = LogisticRegression()
dt2 = DecisionTreeClassifier()
rf2 = RandomForestClassifier()
svm2 = SVC()
models2 = [lr2, dt2, rf2, svm2]
for model in models2:
    model.fit(X_train2, y_train2)
    y_pred2 = model.predict(X_test2)
    accuracy2 = accuracy_score(y_test2, y_pred2)
    print(f"Accuracy score of {type(model).__name__} on dataset 2: {accuracy2}")
    
print('\n')
    
# apply supervised methods on dataset 3
lr3 = LogisticRegression()
dt3 = DecisionTreeClassifier()
rf3 = RandomForestClassifier()
svm3 = SVC()
models3 = [lr3, dt3, rf3, svm3]
for model in models3:
    model.fit(X_train3, y_train3)
    y_pred3 = model.predict(X_test3)
    accuracy3 = accuracy_score(y_test3, y_pred3)
    print(f"Accuracy score of {type(model).__name__} on dataset 3: {accuracy3}")
    
print('\n')
    
# apply supervised methods on dataset 4
lr4 = LogisticRegression()
dt4 = DecisionTreeClassifier()
rf4 = RandomForestClassifier()
svm4 = SVC()
models4 = [lr4, dt4, rf4, svm4]
for model in models4:
    model.fit(X_train4, y_train4)
    y_pred4 = model.predict(X_test4)
    accuracy4 = accuracy_score(y_test4, y_pred4)
    print(f"Accuracy score of {type(model).__name__} on dataset 4: {accuracy4}")

Accuracy score of LogisticRegression on dataset 1: 0.9333333333333333
Accuracy score of DecisionTreeClassifier on dataset 1: 0.9777777777777777
Accuracy score of RandomForestClassifier on dataset 1: 0.9555555555555556
Accuracy score of SVC on dataset 1: 0.8444444444444444


Accuracy score of LogisticRegression on dataset 2: 1.0
Accuracy score of DecisionTreeClassifier on dataset 2: 1.0
Accuracy score of RandomForestClassifier on dataset 2: 1.0
Accuracy score of SVC on dataset 2: 0.9777777777777777


Accuracy score of LogisticRegression on dataset 3: 0.9259259259259259
Accuracy score of DecisionTreeClassifier on dataset 3: 0.9074074074074074
Accuracy score of RandomForestClassifier on dataset 3: 1.0
Accuracy score of SVC on dataset 3: 0.7407407407407407


Accuracy score of LogisticRegression on dataset 4: 0.8888888888888888
Accuracy score of DecisionTreeClassifier on dataset 4: 0.9074074074074074
Accuracy score of RandomForestClassifier on dataset 4: 0.9444444444444444
Accuracy score of SVC on dataset 4: 0.7777777777777778